body{
    background-color: #BFD8FF;
}

.main-div{
    margin-top: 8%;
}
.main-child-1, .main-child-2{
    background-color: white;
}

.btn-1{
    background-color: #BFD8FF;
    border: 0px;
    padding: 0.5rem;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .btn{
    border-color: red;
    color: red;
    margin-top: 1rem;
  }
  
  
  .fa-facebook-square {
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
  }

  .btn-2{
    color: darkblue;
    border-color: darkblue;
    margin-top: 1rem;
  }

@media (max-width:1199px) {
    .main-div{
        margin-left: 0% !important;
    }
    .register-card{
      padding: 1.5rem !important;
    }
    .register-img{
      max-width: 70% !important;
    }
  }