body{
    margin: 0px;
}

.main{
    width: 100%;
    height: 630px;
    display: flex;
}

.image{
    width: 50%;
    height: 630px;
}

.img{
    width: 100%;
    height: 100%;
}

.form{
    width: 50%;
    height: 630px;
}

.text{
    background-color: #E297DC;
    font-size: 2.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btn-1{
    width: 12rem;
    border-radius: 10px;
    background-color: #E297DC;
    border: 0.5px;
}