/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

.text{
  display: flex;
  justify-content: center;
}

/* .icon{
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
     */
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}